<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="imagenes.length > 0; else noImages">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let img of imagenes">
          <ion-card>
            <img [src]="img.url" alt="Imagen" />
            <ion-card-header>
              <ion-card-title>{{ img.titulo }}</ion-card-title>
              <ion-card-subtitle>{{ img.fechaCreado.toDate() | date: 'short' }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #noImages>
    <p>No hay imágenes disponibles.</p>
  </ng-template>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="bienvenido">
        <ion-icon name="home-outline"></ion-icon>
        Bienvenido
      </ion-tab-button>
      <ion-tab-button tab="subir-contenido">
        <ion-icon name="add-outline"></ion-icon>
        Subir contenido
      </ion-tab-button>
      <ion-tab-button tab="albumes">
        <ion-icon name="images-outline"></ion-icon>
        Álbumes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
