<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        Entrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="gallery">
    <ion-card *ngFor="let item of items" class="gallery-item">
      <ion-card-header>
        <ion-card-title>Imagen</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="item" alt="Imagen" />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


