.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Espacio entre las imágenes
  }
  
  .gallery-item {
    flex: 1 1 calc(33% - 10px); // 3 columnas
    box-sizing: border-box;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto; // Mantener proporciones
    border-radius: 8px; // Opcional: bordes redondeados
  }
  