<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-icon class="iconLogin" name="person-outline"></ion-icon>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Correo electrónico" labelPlacement="floating" [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="block" class="heartbeat" (click)="onLogin()">Iniciar Sesión</ion-button>
      <ion-button expand="block" [routerLink]="['/registro']">Registro</ion-button>
      <a [routerLink]="['/password']">Recuperar Contraseña</a>
    </ion-card-content>
  </ion-card>
</ion-content>
