.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

  .iconLogin {
	font-size: 50px; /* Ajusta el tamaño del ícono */
  }