.botonSubirImagen {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura disponible */
  }
  